@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.landing-page{
    background-image: url(./assets/vegetables-set-left-black-slate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

nav.menu{
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    align-items: center;
    /* position: relative; */
    position: sticky;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    height: 3vh;
}

.logo a{
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    padding-left: 50px;
}

.menu-btn a{
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    font-size: 18px;
    color: #fff;
}


.landing-page-content h1{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 40%;
    left: 10%;
}

.landing-page-content h4{
    color: #fff;
    font-size: 38px;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 50%;
    left: 16%;
}