@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.landing-page{
    background-image: url(./assets/vegetables-set-left-black-slate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

nav.menu{
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    align-items: center;
    /* position: relative; */
    position: sticky;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    height: 3vh;
}

.logo a{
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    padding-left: 50px;
}

.menu-btn a{
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    font-size: 18px;
    color: #fff;
}

.menu-btn a:hover{
    text-decoration: underline;
    opacity: 0.7;
    transition: ease-in 0.3s;
}

.landing-page-content h1{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 40%;
    left: 10%;
}

.landing-page-content h4{
    color: #fff;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 53%;
    left: 17%;
    /* text-transform: uppercase; */
}

.our-story{
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
}

.our-story h1{
    margin-bottom: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

.our-story h3{
    margin: 0;
    font-size: 30px;
}

.our-story h4{
    margin: 0;
    font-size: 50px;
}

.our-story p{
    font-size: 18px;
}

.story-content{
    width: 40%;
}

.story-img img{
    width: 500px;
    border-radius: 15px;
    
    transition: ease-in-out 0.3s;
}

.story-img img:hover{
    transform: translateY(-20px);
    cursor: pointer;
    box-shadow: 0px 20px 20px rgb(93, 93, 93);
}

